@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #E7C9A5;
  --admin: #25388C;
  /* Fonts */
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --gradient-vertical: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  --gradient-gray: linear-gradient(270deg, #37363a 0%, #353637 100%);
  --gradient-blue: linear-gradient(180deg, #232839 0%, #12141d 100%);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.gradient-vertical {
  background: var(--gradient-vertical);
}

.gradient-gray {
  background: var(--gradient-gray);
}

.gradient-blue {
  background: var(--gradient-blue);
}

/* 🏠 Auth Styles */
.auth-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  color: var(--light-100);
}

@media (min-width: 640px) {
  .auth-container {
    flex-direction: row;
  }
}

.auth-form {
  margin: auto 0;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex: 1;
  align-items: center;
  background-image: url('/images/pattern.webp');
  background-size: cover;
  background-position: top;
  background-color: var(--dark-100);
  padding: 2.5rem 1.25rem;
}

.auth-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 40rem;
  margin: auto;
  padding: 2.5rem;
  border-radius: 0.5rem;
  background: var(--gradient-vertical);
}

.auth-illustration {
  position: sticky;
  height: 10rem;
  width: 100%;
}

@media (min-width: 640px) {
  .auth-illustration {
    top: 0;
    height: 100vh;
    flex: 1;
  }
}

/* 🏡 Root Container */
.root-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  background-image: url('/images/pattern.webp');
  background-size: cover;
  background-position: top;
  background-color: var(--dark-100);
  padding: 1.25rem;
}

@media (min-width: 480px) {
  .root-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px) {
  .root-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* 📚 Book Details */
.book-details {
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 1024px) {
  .book-details {
    margin-top: 9rem;
    flex-direction: row;
  }
}

.book-details h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary);
}

/* 📖 Library */
.library {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

.library-subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-100);
}

.library-title {
  margin-top: 0.5rem;
  font-size: 1.875rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 480px) {
  .library-title {
    font-size: 3rem;
  }
}

.gradient-vertical {
  background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
}

.gradient-gray {
  background: linear-gradient(270deg, #37363a 0%, #353637 100%);
}

.gradient-blue {
  background: linear-gradient(180deg, #232839 0%, #12141d 100%);
}

/* Auth */
.auth-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  color: #d6e0ff;
  /* text-light-100 */
}

@media (min-width: 640px) {
  .auth-container {
    flex-direction: row;
  }
}

.auth-form {
  margin: auto;
  display: flex;
  height: 100%;
  min-height: 100vh;
  flex: 1;
  align-items: center;
  background: url('/images/pattern.webp') center/cover, #16191e;
  padding: 10px 20px;
}

.auth-box {
  background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  margin: auto;
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 2.5rem;
}

.auth-illustration {
  position: sticky;
  height: 40px;
  width: 100%;
}

@media (min-width: 640px) {
  .auth-illustration {
    top: 0;
    height: 100vh;
    flex: 1;
  }
}

/* Root */
.root-container {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  background: url('/images/pattern.webp') center/cover, #16191e;
  padding: 10px 20px;
}

@media (min-width: 480px) {
  .root-container {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .root-container {
    padding: 16px;
  }
}

/* Book Details */
.book-details {
  margin-top: 16rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 1024px) {
  .book-details {
    flex-direction: row;
  }
}

.book-details h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #e7c9a5;
}

/* Library */
.library {
  margin: auto;
  display: flex;
  max-width: 40rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.library-subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #d6e0ff;
}

.library-title {
  margin-top: 0.5rem;
  font-size: 1.875rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 480px) {
  .library-title {
    font-size: 3rem;
  }
}

/* Form Elements */
.form-btn {
  background: #e7c9a5;
  color: #16191e;
  min-height: 2.8rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.form-btn:hover {
  background: #d4b189;
}

.form-input {
  width: 100%;
  min-height: 2.6rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background: #232839;
}

.form-input::placeholder {
  font-weight: 400;
  color: #d6e0ff;
}

.form-input:focus {
  outline: none;
  box-shadow: none;
}

/* Pagination */
#pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.75rem;
}

.pagination-btn_light {
  background: #e2e8f0;
  color: #16191e;
}

.pagination-btn_light:hover {
  background: rgba(226, 232, 240, 0.7);
}

.pagination-btn_dark {
  background: #16191e;
}

.pagination-btn_dark:hover {
  background: #0a0a0a;
}

#pagination p {
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
}

/* Not Found */
#not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#not-found h4 {
  color: white;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

#not-found p {
  color: #d6e0ff;
  width: 360px;
  margin-top: 0.25rem;
}

.not-found-btn {
  background: #e7c9a5;
  font-family: "Bebas Neue", sans-serif;
  min-width: 360px;
  margin-top: 1.5rem;
  color: #16191e;
  font-size: 1.25rem;
  min-height: 3rem;
  cursor: pointer;
}

.not-found-btn:hover {
  background: rgba(231, 201, 165, 0.9);
}

/* Book Title */
.book-title {
  margin-top: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 480px) {
  .book-title {
    font-size: 1.25rem;
  }
}

/* Book Genre */
.book-genre {
  margin-top: 0.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.875rem;
  font-style: italic;
  color: #d6e0ff;
}

@media (min-width: 480px) {
  .book-genre {
    font-size: 1rem;
  }
}

/* Book Loaned */
.book-loaned {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 480px) {
  .book-loaned {
    justify-content: center;
  }
}

/* Book Button */
.book-btn {
  background: #232839;
  margin-top: 0.75rem;
  min-height: 3.5rem;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  color: #e7c9a5;
  cursor: pointer;
}

/* Borrowed Book */
.borrowed-book {
  background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  padding: 1.25rem;
  border-radius: 1rem;
  width: 100%;
  position: relative;
}

@media (min-width: 480px) {
  .borrowed-book {
    width: min-content;
  }
}

.borrowed-book_cover {
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {
  .borrowed-book_cover {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Book Cover Sizes */
.book-cover_extra_small {
  width: 28.95px;
  height: 40px;
}

.book-cover_small {
  width: 55px;
  height: 76px;
}

.book-cover_medium {
  width: 144px;
  height: 199px;
}

.book-cover_regular {
  width: 114px;
  height: 169px;
}

@media (min-width: 480px) {
  .book-cover_regular {
    width: 174px;
    height: 239px;
  }
}

.book-cover_wide {
  width: 256px;
  height: 354px;
}

@media (min-width: 480px) {
  .book-cover_wide {
    width: 296px;
    height: 404px;
  }
}

/* Book List */
.book-list {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@media (max-width: 480px) {
  .book-list {
    justify-content: space-between;
  }
}

@media (min-width: 480px) {
  .book-list {
    gap: 2.5rem;
  }
}

/* Book Overview */
.book-overview {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 640px) {
  .book-overview {
    gap: 8rem;
  }
}

@media (min-width: 1280px) {
  .book-overview {
    flex-direction: row;
    gap: 2rem;
  }
}

.book-overview h1 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 768px) {
  .book-overview h1 {
    font-size: 4rem;
  }
}

/* Book Info */
.book-info {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.25rem;
  color: #d6e0ff;
}

/* Book Copies */
.book-copies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.25rem;
}

.book-copies p {
  font-size: 1.25rem;
  color: #d6e0ff;
}

.book-copies p span {
  margin-left: 0.5rem;
  font-weight: 600;
  color: #e7c9a5;
}

/* Book Description */
.book-description {
  margin-top: 0.5rem;
  text-align: justify;
  font-size: 1.25rem;
  color: #d6e0ff;
}

/* Book Overview Button */
.book-overview_btn {
  margin-top: 1rem;
  min-height: 3.5rem;
  width: fit-content;
  background: #e7c9a5;
  color: #16191e;
  cursor: pointer;
}

.book-overview_btn:hover {
  background: rgba(231, 201, 165, 0.9);
}

@media (max-width: 768px) {
  .book-overview_btn {
    width: 100%;
  }
}

/* File Upload */
.upload-btn {
  display: flex;
  height: 2.6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  border-radius: 0.375rem;
}

.upload-filename {
  text-align: center;
  font-size: 0.75rem;
}

/* Progress Bar */
.progress {
  border-radius: 9999px;
  background: #065f46;
  padding: 0.125rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 1;
  color: #d6e0ff;
}

/* Book Ticket */
#book-ticket {
  position: relative;
  margin-top: 2.5rem;
  display: none;
  width: 544px;
  overflow: hidden;
  background: #232839;
  padding: 2rem;
}

#book-ticket #book-details div {
  border-radius: 0.375rem;
  border: 1px solid rgba(214, 224, 255, 0.1);
  padding: 0.75rem;
}

#book-ticket #book-details div p:first-child {
  font-size: 0.75rem;
  color: #8d8d8d;
}

#book-ticket #book-details div p:last-child {
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
}

.book-ticket-circles {
  position: absolute;
  inset: 0;
  bottom: -1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
}

/* Search */
.search {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  min-height: 3.5rem;
  width: 100%;
  align-items: center;
  border-radius: 0.75rem;
  background: #232839;
  padding: 0 1rem;
}

.search-input {
  width: 100%;
  border: none;
  font-weight: 700;
  color: white;
  background: none;
}

.search-input::placeholder {
  font-weight: 400;
  color: #d6e0ff;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

/* Dropdown Sort */
.select-trigger {
  width: 10rem;
  height: 2.5rem;
  padding: 0 1rem;
  background: #232839;
  color: #d6e0ff;
  border: 1px solid #16191e;
}

.select-content {
  background: #232839;
  color: #d6e0ff;
  border: 1px solid #16191e;
}

.select-item:focus {
  background: #37363a;
  color: #d6e0ff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}